<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>u0964</key>
    <string>u0964.glif</string>
    <key>u0965</key>
    <string>u0965.glif</string>
    <key>u0981</key>
    <string>u0981.glif</string>
    <key>u0982</key>
    <string>u0982.glif</string>
    <key>u0983</key>
    <string>u0983.glif</string>
    <key>u0985</key>
    <string>u0985.glif</string>
    <key>u0986</key>
    <string>u0986.glif</string>
    <key>u0987</key>
    <string>u0987.glif</string>
    <key>u0988</key>
    <string>u0988.glif</string>
    <key>u0989</key>
    <string>u0989.glif</string>
    <key>u098A</key>
    <string>u098A_.glif</string>
    <key>u098B</key>
    <string>u098B_.glif</string>
    <key>u098C</key>
    <string>u098C_.glif</string>
    <key>u098F</key>
    <string>u098F_.glif</string>
    <key>u0990</key>
    <string>u0990.glif</string>
    <key>u0993</key>
    <string>u0993.glif</string>
    <key>u0994</key>
    <string>u0994.glif</string>
    <key>u0995</key>
    <string>u0995.glif</string>
    <key>u0996</key>
    <string>u0996.glif</string>
    <key>u0997</key>
    <string>u0997.glif</string>
    <key>u0998</key>
    <string>u0998.glif</string>
    <key>u0999</key>
    <string>u0999.glif</string>
    <key>u099A</key>
    <string>u099A_.glif</string>
    <key>u099B</key>
    <string>u099B_.glif</string>
    <key>u099C</key>
    <string>u099C_.glif</string>
    <key>u099D</key>
    <string>u099D_.glif</string>
    <key>u099E</key>
    <string>u099E_.glif</string>
    <key>u099F</key>
    <string>u099F_.glif</string>
    <key>u09A0</key>
    <string>u09A_0.glif</string>
    <key>u09A1</key>
    <string>u09A_1.glif</string>
    <key>u09A2</key>
    <string>u09A_2.glif</string>
    <key>u09A3</key>
    <string>u09A_3.glif</string>
    <key>u09A4</key>
    <string>u09A_4.glif</string>
    <key>u09A5</key>
    <string>u09A_5.glif</string>
    <key>u09A6</key>
    <string>u09A_6.glif</string>
    <key>u09A7</key>
    <string>u09A_7.glif</string>
    <key>u09A8</key>
    <string>u09A_8.glif</string>
    <key>u09AA</key>
    <string>u09A_A_.glif</string>
    <key>u09AB</key>
    <string>u09A_B_.glif</string>
    <key>u09AC</key>
    <string>u09A_C_.glif</string>
    <key>u09AD</key>
    <string>u09A_D_.glif</string>
    <key>u09AE</key>
    <string>u09A_E_.glif</string>
    <key>u09AF</key>
    <string>u09A_F_.glif</string>
    <key>u09B0</key>
    <string>u09B_0.glif</string>
    <key>u09B2</key>
    <string>u09B_2.glif</string>
    <key>u09B6</key>
    <string>u09B_6.glif</string>
    <key>u09B7</key>
    <string>u09B_7.glif</string>
    <key>u09B8</key>
    <string>u09B_8.glif</string>
    <key>u09B9</key>
    <string>u09B_9.glif</string>
    <key>u09BC</key>
    <string>u09B_C_.glif</string>
    <key>u09BD</key>
    <string>u09B_D_.glif</string>
    <key>u09BE</key>
    <string>u09B_E_.glif</string>
    <key>u09BF</key>
    <string>u09B_F_.glif</string>
    <key>u09C0</key>
    <string>u09C_0.glif</string>
    <key>u09C1</key>
    <string>u09C_1.glif</string>
    <key>u09C2</key>
    <string>u09C_2.glif</string>
    <key>u09C3</key>
    <string>u09C_3.glif</string>
    <key>u09C4</key>
    <string>u09C_4.glif</string>
    <key>u09C7</key>
    <string>u09C_7.glif</string>
    <key>u09C8</key>
    <string>u09C_8.glif</string>
    <key>u09CB</key>
    <string>u09C_B_.glif</string>
    <key>u09CC</key>
    <string>u09C_C_.glif</string>
    <key>u09CD</key>
    <string>u09C_D_.glif</string>
    <key>u09CE</key>
    <string>u09C_E_.glif</string>
    <key>u09D7</key>
    <string>u09D_7.glif</string>
    <key>u09DC</key>
    <string>u09D_C_.glif</string>
    <key>u09DD</key>
    <string>u09D_D_.glif</string>
    <key>u09DF</key>
    <string>u09D_F_.glif</string>
    <key>u09E0</key>
    <string>u09E_0.glif</string>
    <key>u09E1</key>
    <string>u09E_1.glif</string>
    <key>u09E2</key>
    <string>u09E_2.glif</string>
    <key>u09E3</key>
    <string>u09E_3.glif</string>
    <key>u09E6</key>
    <string>u09E_6.glif</string>
    <key>u09E7</key>
    <string>u09E_7.glif</string>
    <key>u09E8</key>
    <string>u09E_8.glif</string>
    <key>u09E9</key>
    <string>u09E_9.glif</string>
    <key>u09EA</key>
    <string>u09E_A_.glif</string>
    <key>u09EB</key>
    <string>u09E_B_.glif</string>
    <key>u09EC</key>
    <string>u09E_C_.glif</string>
    <key>u09ED</key>
    <string>u09E_D_.glif</string>
    <key>u09EE</key>
    <string>u09E_E_.glif</string>
    <key>u09EF</key>
    <string>u09E_F_.glif</string>
    <key>u09F0</key>
    <string>u09F_0.glif</string>
    <key>u09F1</key>
    <string>u09F_1.glif</string>
    <key>u09F2</key>
    <string>u09F_2.glif</string>
    <key>u09F3</key>
    <string>u09F_3.glif</string>
    <key>u09F4</key>
    <string>u09F_4.glif</string>
    <key>u09F5</key>
    <string>u09F_5.glif</string>
    <key>u09F6</key>
    <string>u09F_6.glif</string>
    <key>u09F7</key>
    <string>u09F_7.glif</string>
    <key>u09F8</key>
    <string>u09F_8.glif</string>
    <key>u09F9</key>
    <string>u09F_9.glif</string>
    <key>u09FA</key>
    <string>u09F_A_.glif</string>
    <key>u200C</key>
    <string>u200C_.glif</string>
    <key>u200D</key>
    <string>u200D_.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>u25CC</key>
    <string>u25C_C_.glif</string>
    <key>ya_signviramacombbeng.pstf</key>
    <string>ya_signviramacombbeng.pstf.glif</string>
    <key>ta_signviramacomb_rabeng.blwf.vatu</key>
    <string>ta_signviramacomb_rabeng.blwf.vatu.glif</string>
    <key>na_hasanta_dda</key>
    <string>na_hasanta_dda.glif</string>
    <key>ma_signviramacombbeng.half_uni09AE.pres</key>
    <string>ma_signviramacombbeng.half_uni09A_E_.pres.glif</string>
    <key>la_signviramacombbeng.half_uni09B2.pres</key>
    <string>la_signviramacombbeng.half_uni09B_2.pres.glif</string>
    <key>da_hasanta_va</key>
    <string>da_hasanta_va.glif</string>
    <key>na_hasanta_sa</key>
    <string>na_hasanta_sa.glif</string>
    <key>na_hasanta_tta</key>
    <string>na_hasanta_tta.glif</string>
    <key>sa_hasanta_ka</key>
    <string>sa_hasanta_ka.glif</string>
    <key>vowelsigni_signcandrabinducombbeng.abvs</key>
    <string>vowelsigni_signcandrabinducombbeng.abvs.glif</string>
    <key>vowelsignii_signcandrabinducombbeng.abvs</key>
    <string>vowelsignii_signcandrabinducombbeng.abvs.glif</string>
    <key>vowelsignebeng.aalt</key>
    <string>vowelsignebeng.aalt.glif</string>
    <key>vowelsignaibeng.aalt</key>
    <string>vowelsignaibeng.aalt.glif</string>
    <key>ra_signviramacombbeng.rphf</key>
    <string>ra_signviramacombbeng.rphf.glif</string>
    <key>signviramacomb_rabeng.blwf</key>
    <string>signviramacomb_rabeng.blwf.glif</string>
    <key>signviramacomb_babeng.blwf</key>
    <string>signviramacomb_babeng.blwf.glif</string>
  </dict>
</plist>
